<h2>{{title}}</h2>
  <div class="chart-container">
    <ngx-charts-bar-vertical
      [results]="this.dataSet"
      [xAxis]="showX"
      [yAxis]="showY"
      [showXAxisLabel]="showX"
      [showYAxisLabel]="showY"
      [xAxisLabel]="xLabel"
      [yAxisLabel]="yLabel"
      [showGridLines]="true"
      [roundEdges]="false"
      [barPadding]="0"
      [customColors]="customColors"
      [scheme]="colorScheme"
      [animations]="animations"
    >
    </ngx-charts-bar-vertical>
  </div>
  <div>
    <ng-container *ngIf="this.checks !== null">
      <mat-divider></mat-divider>
      <div class="row ">
        <div class="col text-center">
          <p> Checks <br> {{checks}}</p>
        </div>
        <div class="col text-center">
          Swaps <br> {{swaps}}
        </div>
      </div>
    </ng-container>
  </div>



