
<mat-toolbar color="accent" style="width: 100%">
  <h1>Random-QuickSort Analyzer</h1>
      <!-- This fills the remaining space of the current row -->
      <span class="fill"></span>
      <button mat-icon-button ><mat-icon  aria-label="Example heart icon">close</mat-icon></button>
    </mat-toolbar>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <mat-list>
          <div mat-subheader class="section">Size of input</div>
          <mat-divider inset></mat-divider>
          <mat-list-item>
            <p  matLine>Set input size </p>
            <p matLine class="text-muted">N = {{size}}</p>
            <button mat-icon-button (click)="this.shuffle()" [disabled]="isReady()" mat-button>
              <mat-icon>shuffle</mat-icon>
            </button>
            <mat-slider [(ngModel)]="size" max="1000" min="10" step="1"  thumbLabel tickInterval="1" (change)="this.changeInputSize()"></mat-slider>
          </mat-list-item>
          <div mat-subheader class="section">Single run</div>
          <mat-divider inset></mat-divider>
          <mat-list-item>
            <p matLine>Run</p>
            <p matLine class="text-muted">swaps: {{this.ss.swaps}}</p>
            <p matLine class="text-muted">checks: {{this.ss.checks}}</p>
            <form [formGroup]="form">
              <mat-slide-toggle formControlName="isAnimated" matTooltip="Show Animations"></mat-slide-toggle>
            </form>
            <button (click)="this.sort()" [disabled]="isReady()" mat-icon-button>
              <mat-icon color="accent">play_arrow</mat-icon>
            </button>
            <button color="accent" (click)="this.stop()" [disabled]="!isReady()" mat-icon-button>
              <mat-icon>stop</mat-icon>
            </button>
          </mat-list-item>
          <div mat-subheader class="section">Multiple runs</div>
          <mat-divider inset></mat-divider>
          <form [formGroup]="test">
            <mat-list-item>
              <p matLine> Set number of runs </p>
              <mat-slider color="warn" formControlName="number" max="1000" min="10" step="1"  thumbLabel
                          tickInterval="1"></mat-slider>
            </mat-list-item>
            <mat-list-item>
              <p matLine>Run {{numberOfRuns}} times</p>
              <mat-slide-toggle color="warn" formControlName="shuffle" matTooltip="Shuffle input each run"></mat-slide-toggle>
              <button color="warn" matTooltip="Run tests" (click)="this.massiveTests()" [disabled]="isReady()" mat-icon-button>
                <mat-icon>play_arrow</mat-icon>
              </button>
              <p matLine class="text-muted">{{ 'Expected number of checks : ' + expectedNumberOfChecks }}</p>
              <p matLine class="text-muted">{{ 'N : ' + size }}</p>
              <!--              <p matLine class="text-muted">{{ 'N * ( log N) : ' + nlogn }}</p>-->
              <p matLine class="text-muted">{{ 'C : ' + expectedNumberOfChecks / nlogn }}</p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>Growth of input</p>
              <button  matTooltip="Run tests" (click)="this.incrementalTest()" [disabled]="isReady()" mat-icon-button>
                <mat-icon color="warn">trending_up</mat-icon>
              </button>
              <p matLine class="text-muted">Size of input grows with the number of tests</p>
            </mat-list-item>
          </form>
        </mat-list>
      </div>
      <div class="col" *ngIf="testMode==='Single run'">
        <app-bars
          [title]="testMode"
          [animations]="false"
          [customColors]="ss.customColors"
          xLabel='Indexes'
          yLabel='Values'
          [dataSet]="singleDataSet">
        </app-bars>
      </div>
      <div class="col" *ngIf="testMode==='Multiple runs'" >
        <div class="row">
          <div class="col-md-6">
            <app-bars
              [title]="testMode"
              xLabel='Runs'
              yLabel='Checks'
              [dataSet]="multiDataSet">
            </app-bars>
          </div>
          <div class="col-md-6">
            <app-bars
              title="Distribution"
              xLabel='Number of Checks'
              yLabel='Occurrences'
              [dataSet]="fDataSet">
            </app-bars>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="testMode==='grow'" >
        <app-bars
          [title]="'Input grows each run'"
          xLabel='Size of Input'
          yLabel='Checks'
          [dataSet]="incrementalData">
        </app-bars>
      </div>
    </div>
</div>




