::ng-deep.ngx-charts text {
  font-style: italic;
  font-size: 10px !important;
  fill: #fff;
}

.large {
  width: 100%;
  height: 500px;
//border: 1px solid white;
}
.small {
  width: 100%;
  height: 175px;
//border: 1px solid white;
}

.medium {
  width: 100%;
  height: 250px;
//border: 1px solid white;
}
.row {
  height: 100%;
}
