<h2>{{title}}</h2>
  <div [class]="chartClass">
    <ngx-charts-line-chart
      [results]="this.dataSet"
      [xAxis]="showX"
      [yAxis]="showY"
      [showXAxisLabel]="showX"
      [showYAxisLabel]="showY"
      [xAxisLabel]="xLabel"
      [yAxisLabel]="yLabel"
      [showGridLines]="true"
      [animations]="animations"
      [scheme]="'picnic'"
      [legend]="true"
    >
    </ngx-charts-line-chart>

  </div>
<div class="mt-3" *ngIf="C > 0">
  Each run of the algorithm performed O(c n log(n)) checks,
  where C numerical value had an average value of
  <b class="text-primary">{{C | number}}</b>
</div>
