<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <mat-card class="mb-3">
        <mat-card-header class="Title">
          <mat-card-title>
            <div class="col text-center">
              <h1>Algorithms</h1>
            </div>
          </mat-card-title>
          <mat-card-subtitle>By Andres Coronado</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <mat-card class="mb-3">
            <mat-list dense>
              <mat-list-item>
                <span matLine class="text-muted">Size of input </span>
                <span matLine>{{size}}</span>
                <button mat-button [disabled]="isReady()" (click)="this.emit()"><mat-icon>refresh</mat-icon></button>
                <button mat-button [disabled]="isReady()" (click)="this.sort()"><mat-icon>play_arrow</mat-icon></button>
                <button mat-button [disabled]="!isReady()" (click)="this.stop()"><mat-icon>stop</mat-icon></button>
              </mat-list-item>
              <mat-list-item>
                <mat-slider thumbLabel tickInterval="1" style="width: 100%" [(ngModel)]="size" min="10" max="1000" step="1"></mat-slider>
              </mat-list-item>
              <form [formGroup]="form">
                <mat-list-item>
                  <span matLine> Show Animations </span>
                  <mat-slide-toggle formControlName="isAnimated"></mat-slide-toggle>
                </mat-list-item>
              </form>
            </mat-list>
          </mat-card>
        </div>
        <div class="col">
          <mat-card>
            <form [formGroup]="test">
              <mat-list>
              <mat-list-item>
                <span matLine> number of tests </span>
                <button mat-button [disabled]="isReady()" (click)="this.massiveTests()"><mat-icon>playlist_play</mat-icon></button>
              </mat-list-item>
              <mat-list-item>
                <mat-slider style="width: 100%" thumbLabel tickInterval="1" formControlName="number" min="10" max="1000" step="1"></mat-slider>
              </mat-list-item>
              </mat-list>
            </form>
          </mat-card>
        </div>
      </div>
     </div>
    <div class="col-md-8">
      <mat-card>
        <div class="row">
          <div class="col-md-6 mb-3">
            <app-las-vegas
              (isSorting)="this.onQSSorting($event)"
              [stopEvent]="stopEmitter"
              [sort]="sort$"
              [seed]="seed"
              [description]="this.qs"
              [delayEvent]="delay" >
            </app-las-vegas>
          </div>
          <div class="col-md-6">
            <app-las-vegas
              (isSorting)="this.onLVSorting($event)"
              [stopEvent]="stopEmitter"
              [sort]="sort$"
              [seed]="seed"
              [description]="this.rqs"
              [delayEvent]="delay" >
            </app-las-vegas>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Tests result
          </mat-card-title>

          <mat-card-subtitle>
            Results
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
          <mat-card-content >
            <div class="container">
              <div class="row" >
                <div class="col">
                  <app-bars [height]="'300px'" [dataSet]="dataSet"></app-bars>
                </div>
                <div class="col">
                  <app-bars [height]="'300px'" [dataSet]="fDataSet"></app-bars>
                </div>
                <div class="col-12">
                  {{ 'Expectation : ' + Expetation().toString(10) }}
                </div>
              </div>
            </div>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<!--<div class="col">-->
<!--  <mat-card>-->
<!--
<!--  </mat-card>-->
<!--</div>-->




