<div class="row mb-3">
  <div class="col">
    <mat-card>
      <div class="row mb-3 justify-content-lg-center ">
        <div class="col-lg-6">
          <mat-list>
            <mat-list-item>
              <h3 matLine>Size of input  </h3>
              <button mat-button [disabled]="isReady()" (click)="this.emit()"><mat-icon>refresh</mat-icon></button>
              <button mat-button>{{size}}</button>
              <mat-slider thumbLabel tickInterval="1" style="width: 250px" [(ngModel)]="size" min="10" max="1000" step="1"></mat-slider>
            </mat-list-item>
            <div mat-subheader>Single run</div>
            <mat-divider inset></mat-divider>
            <mat-list-item>
              <p matLine>Run</p>
              <form [formGroup]="form">
                <mat-slide-toggle matTooltip="Show Animations" formControlName="isAnimated"></mat-slide-toggle>
              </form>
              <button mat-icon-button [disabled]="isReady()" (click)="this.sort()"><mat-icon>play_arrow</mat-icon></button>
              <button mat-icon-button [disabled]="!isReady()" (click)="this.stop()"><mat-icon>stop</mat-icon></button>
            </mat-list-item>
            <div mat-subheader>Multiple runs</div>
            <mat-divider inset></mat-divider>
            <mat-list-item>
              <p matLine> Number of tests </p>
              <form [formGroup]="test">
                <mat-slider style="width: 100%" thumbLabel tickInterval="1" formControlName="number" min="10" max="1000" step="1"></mat-slider>
              </form>
            </mat-list-item>
            <mat-list-item>
              <p matLine>Run tests</p>
              <button mat-icon-button [disabled]="isReady()" (click)="this.massiveTests()"><mat-icon>playlist_play</mat-icon></button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col algoBox">
          <app-sorting
            (isSorting)="this.onQSSorting($event)"
            [stopEvent]="stopEmitter"
            [sort]="sort$"
            [seed]="seed"
            [description]="this.qs"
            [delayEvent]="delay" >
          </app-sorting>
        </div>
        <div class="col algoBox">
            <app-sorting
              (isSorting)="this.onLVSorting($event)"
              [stopEvent]="stopEmitter"
              [sort]="sort$"
              [seed]="seed"
              [description]="this.rqs"
              [delayEvent]="delay" >
            </app-sorting>
          </div>
        <div class="col algoBox">
          <span>Number of checks</span>
          <app-bars [height]="'300px'" [dataSet]="dataSet"></app-bars>
          <div class="col-12">
            {{ 'Expectation : ' + Expetation().toString(10) }}
          </div>
        </div>
        <div class="col algoBox">
          <span>frequency distribution</span>
          <app-bars [height]="'300px'" [dataSet]="fDataSet"></app-bars>
          <div class="col-12">
            {{ 'Expectation : ' + Expetation().toString(10) }}
          </div>
        </div>
      </div>
      <div class="row justify-content-center" >


      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-card>
      <div class="col">
        <mat-card-content >

        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>

