
  <form [formGroup]="form">

    <div class="row justify-content-center">
      <div class="col-md-3">
        <mat-form-field  appearance="outline">
          <mat-label>choose initial setup</mat-label>
          <mat-select (selectionChange)="onInit()"  formControlName="b">
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="3">Random</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>number reliable processes</mat-label>
          <input (change)="onInit()"  matInput formControlName="rProcesses" type="number" placeholder="">
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>number of unreliable processes</mat-label>
          <input
            (change)="onInit()"
            matInput formControlName="uProcesses"
            type="number"
            placeholder="">
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>number of runs</mat-label>
          <input
            matInput formControlName="nRuns"
            type="number"
            placeholder="">
        </mat-form-field>
        <button class ="w-100 mb-1" [disabled]="!ready" mat-raised-button color="primary" (click)="MCByzantine()">Run</button>
        <button class ="w-100 mb-1" [disabled]="!ready" mat-raised-button  color="primary"(click)="onInit()">Initialize</button>
<!--        <button class ="w-100 mb-1" [disabled]="!ready" mat-raised-button color="warn"  (click)="onInitAndRun()">Init and run</button>-->
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-12">
            <app-lines style="height: 100px"
                       [dataSet]="this.resGraph"
                       [xLabel]="'Run number'"
                       [yLabel]="'Rounds'"
                       [title]="'Number of rounds per run'"
                       [animations]="false"
                       chartClass="medium"
            >
            </app-lines>
          </div>
          <div class="col-12">
            <app-bars
              [dataSet]="this.votes"
              [customColors]="this.customColors"
              [min]="0"
              [xLabel]="'processes'"
              [yLabel]="'vote'"
              [title]="'Processes statuses'"
              [padding]="4"
              [showY]="false"
              [animations]="false"
              chartClass="small"
            >
            </app-bars>
          </div>
        </div>
      </div>
      <div class="col-md-3" >
        <h3>Run number {{nRuns}}</h3>
        <div class="run-list lg">
          <mat-card class="m-1 mat-elevation-z5" *ngFor="let r of this.results; let i = index">
            <div class="row">
              <div class="col text-center ">
                <p class="text-muted">run </p>
                  <h4>{{i+1}}.</h4>
              </div>

              <div class="col text-center">
                <p class="text-muted">rounds </p>
                <h4>{{r.rounds}}</h4>
              </div>
              <div class="col text-center">
                <p class="text-muted">agreed on</p>
                <h4>{{r.c}}</h4>
              </div>
            </div>
          </mat-card>

        </div>
        <div>
          <button class ="w-100 mb-1" [disabled]="!ready" mat-icon-button color="primary" (click)="onReset()">

            <mat-icon class="mat-48">delete</mat-icon>
            clean
          </button>
        </div>
      </div>
    </div>

  </form>







