.mat-form-field {
  width: 100%;
}
.row {
  margin-bottom: 10px;
}


.list-container {
  height: 360px;
  width: 500px;
  border: 1px solid black;
}

.cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
}

.state-item {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lg {
  height: 400px;
}

.run-list {
  flex-grow: 1;
  overflow: auto;
}
b {
  color: #7ac9ff;
}
